@import "./prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Pixeled";
	src: url("/fonts/retro.ttf");
	font-style: normal;
	font-weight: 400;
}

html {
	@apply scroll-smooth;
	font-family: "Pixeled";

	::-webkit-scrollbar {
		@apply w-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-green-500;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-gray-200;
	}
}

body {
	@apply bg-primary overflow-x-hidden;
}

h1 {
	@apply text-white text-6xl uppercase filter drop-shadow-md mb-2;
}

h2 {
	@apply text-green-500 md:text-left text-center text-3xl md:text-5xl mb-8 last:mb-0;
}

p {
	@apply max-w-[75ch] mb-4 last-of-type:mb-0 text-white;
	font-family: "Roboto", sans-serif;
}

a {
	@apply transition-all duration-300 ease-in-out hover:text-green-500;
}

.hero {
	@apply bg-cover bg-center bg-no-repeat bg-primary;
	background-image: url("/banner.png");

	&:before {
		content: "";
		@apply bg-primary bg-opacity-30 h-full w-full absolute top-0 left-0 z-0;
	}
}

.l-hero {
	@apply bg-cover bg-center bg-no-repeat;
	background-image: url("/banner.png");
}

.button {
	@apply py-2 px-4 shadow-md hover:bg-green-500 z-10 !text-white uppercase text-lg border-solid border-4 border-green-500 transition-all duration-300;
}

.slide {
	@apply transition-all duration-300 transform scale-100 opacity-100 cursor-pointer;

	img {
		@apply h-full w-full;
	}
}

.merchSlide {
	@apply transform scale-75 opacity-80 transition-all duration-700;
}

.merchActive {
	@apply !scale-100;
}
/*.countdown {
    background-color: black;
    padding: 10px;*/
}

.slick-dots {
	li {
		@apply !w-auto;
	}

	button:before {
		@apply text-white text-base mt-5 !important;
	}
}

li.slick-active {
	div {
		@apply bg-green-500 bg-opacity-100 !important;
	}
}

.arrow {
	@apply cursor-pointer absolute top-[45%] z-10 text-6xl;

	svg {
		@apply transition-all duration-300 text-green-500;

		&:hover {
			@apply text-green-300;
		}
	}

	&.prev {
		@apply left-2;
	}

	&.next {
		@apply right-2;
	}
}

.leaderboard {
	td {
		@apply p-4 md:table-cell flex;

		&:before {
			content: attr(label);
			@apply w-32 mr-6 text-left md:hidden;
		}
	}
	th {
		@apply p-4;
	}
	thead {
		@apply md:table-header-group hidden;
	}
}

.first {
	@apply text-primary bg-green-500 transform scale-105;

	& > td {
		@apply bg-green-500 w-full;
	}
}

.bronze {
	@apply before:text-amber-700;
}

.silver {
	@apply before:text-gray-300;
}

.gold {
	@apply before:text-yellow-400;
}
